<h1>Articles#edit</h1>
<%= form_with model:@article do |form| %>
    <div>
        <%= form.label :title, "タイトル" %>
        <%= form.text_field :title %>
    </div>
    <div>
        <%= form.label :body, "本文" %>
        <%= form.text_area :body %>
    </div>
    <div>
        <%= form.label :genre, "ジャンル" %>
        <%= form.select :genre, [['ニュース', 'news'], ['スポーツ', 'sports'], ['エンターテインメント', 'entertainment']] %>
    </div>
    <div>
        <%= form.submit "更新する" %>
    </div>
<% end %>
